nav ul a {
  text-decoration: none;
}

/*
*-------------------------------------
*-------------- GLOBAL ---------------
*-------------------------------------
*/
img {
  box-sizing: border-box;
}

a {
  display: inline-block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background: linear-gradient(rgba(251, 252, 237, 0.4), rgba(251, 252, 237, 0.4)), url("../images/pw_maze_white.png");
  color: #6d6d6d;
  background-attachment: fixed;
  line-height: 1.5;
}

header {
  max-width: 100%;
  margin-top: 20px;
  text-align: center;
}
header tspan {
  fill: #418ac9;
}
header path {
  stroke: #418ac9;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 0;
  list-style: none;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #6d6d6d;
  /* Reserve space for letter-spacing (or any :hover state styles)
  * content in ::after pseudo element and using title attribute
  * in HTML as a source for content.
  */
}
@media (min-width: 600px) {
  nav ul {
    justify-content: center;
    font-size: 1em;
  }
}
@media (min-width: 600px) {
  nav ul li {
    margin: 0 30px;
  }
}
nav ul a {
  color: #6d6d6d;
  letter-spacing: 1px;
  transition: letter-spacing .5s;
}
nav ul a:hover {
  letter-spacing: 5px;
  transition: letter-spacing .5s;
}
@media (max-width: 350px) {
  nav ul a:hover {
    letter-spacing: 1px;
    transition: none;
  }
}
nav ul a::after {
  display: block;
  content: attr(aria-label);
  letter-spacing: 5px;
  height: 0;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}
@media (max-width: 350px) {
  nav ul a::after {
    letter-spacing: 0;
  }
}

.current-page {
  margin: 5px 0 0 0;
  border-color: #f1c40f;
  border-width: 3px;
}

h2 {
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  font-size: 0.9375em;
  letter-spacing: 1px;
  margin: 5px 0 10px;
}

.primary {
  margin-top: 30px;
  text-align: center;
  position: relative;
  padding-bottom: 6%;
}
.primary h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #545454;
}
.primary > :last-child {
  padding-bottom: 30px;
}
.primary::after {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 6%;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="60"><polygon points="0,60 1000,0 1000,60" style="fill:#418ac9;stroke:#418ac9;stroke-width:0"></polygon></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  content: '';
}

.secondary {
  padding: 30px 30px 0;
  background-color: #418ac9;
  color: #fbfced;
}
.secondary h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fbfced;
}
.secondary svg {
  width: 20px;
  fill: #fbfced;
}

footer {
  text-align: center;
  position: relative;
  padding-top: 6%;
  margin-bottom: 30px;
}
footer > :last-child {
  padding-top: 60px;
}
footer::before {
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 6%;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="60"><polygon points="0,60 1000,0 0,0" style="fill:#418ac9;stroke:#418ac9;stroke-width:0"></polygon></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  content: '';
}

/***************************************** 
*-------HOME PAGE - WELCOME SECTION-------
*****************************************/
.primary .split-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 0;
}
.primary .split-screen .profile {
  border-radius: 50%;
  width: 50%;
  max-width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.primary .split-screen p {
  margin-top: 30px;
  max-width: 500px;
}
@media (min-width: 800px) {
  .primary .split-screen {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .primary .split-screen p {
    flex: 2 0 67%;
    margin-right: 20px;
    margin-top: 0;
  }
  .primary .split-screen .profile {
    flex: 1 0 33%;
  }
}

/***************************************** 
*---------HOME PAGE - WORK SECTION--------
*****************************************/
.project {
  max-width: 600px;
  margin: 0 auto;
}
.project .project-header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project .project-header span:last-child {
  margin-left: 20px;
}
.project img {
  width: 100%;
  border: 5px solid #fbfced;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

/*# sourceMappingURL=style.css.map */
