// about.scss

.more-info-page .primary {
	display: flex;
	margin: 0 auto (2 * $margin-default);
	max-width: $layout-width;

	@media (max-width: 1260px) {
		margin-left: $margin-default;
		margin-right: $margin-default;
	}

	@media (max-width: 1000px) {
		text-align: center;
		display: block;
		margin: 0 auto;

		.contact-body,
		.about-body {
			width: 100%;
			text-align: center;
		}

		.about-body {
			margin-bottom: $margin-default;
			align-items: center;
			padding: 0 $padding-default $padding-default;

			.about-copy {
				max-width: 600px;
			}
		}
	}

	@media (max-width: 600px) {
		.contact-body {
			border: 0;
		}
	}

	@media (max-width: 400px) {
		
		.about-body, .contact-body {
			padding-left: $padding-small;
			padding-right: $padding-small;
			padding-bottom: 0;
		}
	}
}

// CONTACT SECTION

.contact-body {
  display: flex;
  flex: 0 1 50%;
  align-self: stretch;
 	flex-direction: column;

	// @media (max-width: 400px) {
	// 	padding-left: $padding-small;
	// 	padding-right: $padding-small;
	// 	padding-bottom: 0;
	// }
}

.contact-header {
	color: $dark-grey;
}

.contact-subsubheader {
	border-bottom: none;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
  padding: $padding-default;
  text-align: left;
	font-family: 'Montserrat';
	border: 1px solid lighten($grey, 40%);
  border-radius: 2px;

	@media (max-width: 1000px) {
		max-width: 600px;
		margin: 0 auto;
		width: 100%;
		border: none;
	}

	@media (max-width: 400px) {
		padding: 0;
	}
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
}

.contact-form-input {
	display: block;
	margin-top: .33*$margin-default;
	width: 100%;
	min-height: 50px;
  font-size: 1em;
  line-height: 1.5em;
	font-family: 'Montserrat';
  text-indent: (.33 * $margin-default);
  line-height: 1.5;
  @include rounded(2px);

  &::-webkit-input-placeholder {
		color: lighten($grey, 20%);
	}

  &[type="text"], &[type="email"] {
		font-family: 'Montserrat', sans-serif;
		background-color: rgba(255, 255, 255, .3);
		border: .5px solid lighten($grey, 40%);
		box-shadow: inset 1px 1px 0 .5px rgba(0,0,0,.3);

		&:focus {
			outline: .5px solid $blue;
		}
  }

  &[type="submit"] {
  	display: inline-block;
	  margin-top: $margin-small;
	   width: 50%;
	  font-family: 'Merriweather';
	  text-indent: 0;
	  @include buttoned;

	  &:disabled {
	  	color: $grey;
	  	background-color: $light-grey;
	  	box-shadow: none;
	  	border-color: darken($light-grey, 15%);

	  	&:hover {
	  		background-color: $light-grey;
	  		transition: none;
	  	}
	  }

	  @media (max-width: 400px) {
	  	width: 100%;
	  	// .435 is half of recaptcha transform scale for mobile (.87)
	  	margin-top: (.435 * $margin-small);
	  }
  }
}

.contact-form-textarea {
	display: block;
	align-self: stretch;
	flex-grow: 1;
	margin-top: (.33 * $margin-default);
  width: 100%;
  resize: none;
	min-height: 300px;
	margin-bottom: $margin-small;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
	padding: 10px;
	text-indent: 0;
	background-color: rgba(255, 255, 255, .3);
	border: .5px solid lighten($grey, 40%);
	box-shadow: inset 1px 1px 0 .5px rgba(0,0,0,.3);
	@include rounded(2px);
	
	&:focus {
		outline: .5px solid $blue;
	}

	&:placeholder-shown {
		padding: 10px;
		text-indent: 0;
	}

	&::-webkit-input-placeholder {
		color: lighten($grey, 20%);
	}
}

.contact-form-label {
  display: inline-block;
  width: 100%;
  margin-top: $margin-small;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Merriweather';
  
  &:first-child {
		margin-top: 0;
  }

  &.textarea-label {
		display: flex;
		flex-direction: column;
		align-self: stretch;
		flex-grow: 1;
	}
}

.grecaptcha {

	display: block;

	@media (max-width: 400px) {
		               transform:scale(0.87);
		       -webkit-transform:scale(0.87);
		        transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}

// ABOUT SECTION

.about-body {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: flex-start;
	max-width: $layout-width;
	flex: 0 1 50%;
	margin-right: $margin-default;

	@media(max-width: 1000px) {
		margin-right: 0;
	}
}

.about-header-wrapper {
	width: 100%;
	text-align: center;
}

.about-header {
	margin-top: 0;
	color: $dark-grey;
}

.about-hero {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	@include rounded(50%);
	@include shadowed;
}

.about-resume {
	margin-bottom: $margin-default;
}

.about-copy {
	margin-top: $margin-default;

	@media (max-width: 1000px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}

.about-project-description {
	max-width: 600px;
	margin: 0 auto (.75 * $margin-small);
	text-align: left;

	&:last-child {
		margin-bottom: 0;
	}
}

.blockquote-wrapper {
	margin: $margin-default (2 * $margin-small);

	@media (max-width: 550px) {
		margin: $margin-small;

		blockquote {
			padding: 5px 0;
			font-size: 1em;

			svg {
				display: none;
			}
		}
	}
}

blockquote {
	position: relative;
	top: 0;
	left: 0;
	padding: 5px (2 * $padding-small);
	color: $dark-grey;
	font-size: 1.25em;
	text-align: left;
	border-top: 2px solid lighten($grey, 40%);
	border-bottom: 2px solid lighten($grey, 40%);
	
	@media (max-width: $max-img-width) {
		font-size: 1.125em;
	}
}

/* Using React, have to wrap <svg> in another
* element when using dangerouslySetInnerHTML
* attribute; I used a <div>
*/
.open-quote,
.close-quote {
	position: absolute;
	width: 30px;
	fill: lighten($grey, 40%);
}

.open-quote {
	top: 0;
	left: 0;
	z-index: -1;
	//mirror about x-axis
	transform: scaleY(-1);
}

.close-quote {
	bottom: 0;
	right: 0;
	z-index: -1;
	transform: rotate(180deg);
}
