// about.scss

.more-info-page {

	.primary {
		display: flex;
  	margin: 0 auto 2*$margin-default;
  	max-width: $layout-width;

  	& > div:first-child {
  		margin-right: $margin-default;
  	}

  	@media (max-width: 1260px) {
  		margin-left: $margin-default;
  		margin-right: $margin-default;
  	}

  	@media (max-width: 900px) {
  		flex-direction: column;
  		margin: 0 auto;

  		.contact-body, .about-body {
  			flex-basis: 100%;
  		}

  		.about-body {
  			order: -1;
  			margin-bottom: $margin-default;
  			align-items: center;
  			padding: 0 $padding-default $padding-default;

  			.about-copy {
  				max-width: 600px;
  			}
  		}

  		.contact-body {
  			margin-right: 0 !important;
  		}
  	}

  	@media (max-width: 600px) {
  		.contact-body {
  			border: 0;
  			padding: 0;
  		}
  	}
	} //.primary closed

	.contact-body {
	  flex: 0 1 50%;
	  align-self: stretch;
	  display: flex;
	 	flex-direction: column;

	  h2 {
	  	color: $dark-grey;
	  }

	  h4 {
	  	border-bottom: none;
	  }

	  .form-wrapper {
		  border: 1px solid lighten($grey, 40%);
		  border-radius: 2px;
		  padding: $padding-default;
		  text-align: start;
	  	font-family: 'Montserrat';
	  	height: 100%;

	  	@media (max-width: 900px) {
	  		border: none;
	  		max-width: 600px;
	  		margin: 0 auto;
	  		width: 100%;
	  	}

  		form {
			  height: 100%;
			  display: flex;
			  flex-direction: column;

			  input {
			  	margin-top: .33*$margin-default;
			  	display: block;
				  font-size: 1em;
				  line-height: 1.5em;
				  width: 100%;
					min-height: 50px;
					@include rounded(2px);
					font-family: 'Montserrat';
				  text-indent: .33*$margin-default;
				  line-height: 1.5;

				  &::-webkit-input-placeholder {
						color: lighten($grey, 20%);
					}

				  &[type="text"], &[type="email"] {
						background-color: rgba(255, 255, 255, 0.3);
						border: 0.5px solid lighten($grey, 40%);
						box-shadow: inset 1px 1px 0 0.5px rgba(0,0,0,0.3);
						font-family: 'Montserrat', sans-serif;
						
						&:focus {
							outline: 0.5px solid $blue;
						}
				  }

				  &[type="submit"] {
				  	display: inline-block;
					  font-family: 'Merriweather';
					  margin-top: $margin-small;
					   width: 50%;
					  @include buttoned;
					  text-indent: 0;

					  &:disabled {
					  	background-color: $light-grey;
					  	box-shadow: none;
					  	color: darken($light-grey, 15%);
					  	border-color: darken($light-grey, 15%);

					  	&:hover {
					  		background-color: $light-grey;
					  		transition: none;
					  	}
					  }

					  @media (max-width: 500px) {
					  	width: 100%;
					  }
				  }
			  } //input closed

			  textarea {
			  	margin-top: .33*$margin-default;
			  	display: block;
				  font-size: 1em;
				  line-height: 1.5em;
				  width: 100%;
				  background-color: rgba(255, 255, 255, 0.3);
					border: 0.5px solid lighten($grey, 40%);
					box-shadow: inset 1px 1px 0 0.5px rgba(0,0,0,0.3);
					font-family: 'Montserrat', sans-serif;
					padding: 10px;
					text-indent: 0;
					resize: none;
					height: 100%;
					min-height: 150px;
					margin-bottom: $margin-small;
					@include rounded(2px);
					
					&:focus {
						outline: 0.5px solid $blue;
					}

					&:placeholder-shown {
						padding: 10px;
						text-indent: 0;
					}

					&::-webkit-input-placeholder {
						color: lighten($grey, 20%);
					}
				} //textarea closed

				label {
				  font-size: 1em;
				  line-height: 1.5em;
				  width: 100%;
				  display: inline-block;
				  font-family: 'Merriweather';
				  margin-top: $margin-small;

				  &:first-child {
						margin-top: 0;
				  }

				  &.textarea-label {
						display: flex;
						flex-direction: column;
						height: 100%;
					}
				} // label closed
	  	} // form closed
	  } // form wrapper closed	
	} // contact body closed

	.about-body {
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		align-items: flex-start;
		max-width: $layout-width;
		flex: 0 1 50%;

		& > div:first-child {
			width: 100%;
			text-align: center;

			h2 {
				margin-top: 0;
				color: $dark-grey;
			}

			.about-hero {
				@include rounded(50%);
				@include shadowed;
				width: 100%;
				max-width: 300px;
			}

			p {
				margin-bottom: $margin-default;
				text-align: center !important;
			}
		}
		
		.about-copy {
			margin-top: $margin-default;

			@media (max-width: 1000px) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;

				h2 {
					margin-top: $margin-default;
				}
			}

			.project-description {
				max-width: 600px;
				margin: 0 auto $margin-small;
				text-align: start;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.blockquote-wrapper {
				margin: $margin-default 2*$margin-small;

				@media (max-width: 550px) {
					margin: $margin-small;

					blockquote {
						padding: 5px 0;
						font-size: 1em;

						svg {
							display: none;
						}
					}
				}

				blockquote {
					position: relative;
					top: 0;
					left: 0;
					border-top: 2px solid lighten($grey, 40%);
					border-bottom: 2px solid lighten($grey, 40%);
					padding: 5px 2*$padding-small;
					color: $dark-grey;
					font-size: 1.25em;
					text-align: start;

					@media (max-width: $max-img-width) {
						font-size: 1.125em;
					}

					/* Using React, have to wrap <svg> in another
					* element when using dangerouslySetInnerHTML
					* attribute; I used a <div>
					*/
					div {
						position: absolute;
						width: 30px;
						fill: lighten($grey, 40%);

						&.open-quote {
							top: 0;
							left: 0;
							z-index: -1;
							//mirror about x-axis
							transform: scaleY(-1);
						}

						&.close-quote {
							bottom: 0;
							right: 0;
							z-index: -1;
							transform: rotate(180deg);
						}
					}
				} //blockquote closed
			} //blockquote wrapper closed
		} // about copy closed
	} // about body closed
}
