// more-info.scss

.more-info-page .primary {
	margin: 0 auto;

	@media (max-width: 1000px) {

		.contact-body,
		.about-body {
			width: 100%;
			text-align: center;
		}

		.about-body {
			margin-bottom: $margin-default;
			align-items: center;
			padding: 0 $padding-default $padding-default;

			.about-copy {
				max-width: 600px;
			}
		}
	}

	@media (max-width: 600px) {
		.contact-body {
			border: 0;
		}
	}

	@media (max-width: 400px) {
		
		.about-body, .contact-body {
			padding-left: $padding-small;
			padding-right: $padding-small;
			padding-bottom: 0;
		}
	}
}

.emphasis {
	font-weight: 700;
}

// CONTACT SECTION

.secondary {
	@media (max-width:400px) {
		padding-left: $padding-small;
		padding-right: $padding-small;
	}
}

.contact-body {
  display: flex;
  flex: 0 1 50%;
  align-self: stretch;
 	flex-direction: column;

	// @media (max-width: 400px) {
	// 	padding-left: $padding-small;
	// 	padding-right: $padding-small;
	// 	padding-bottom: 0;
	// }
}

.secondary .contact-header {
	padding-bottom: 0;
	text-align: center;
}

.contact-subheader {
	text-align: center;
}

.contact-subsubheader {
	border-bottom: none;
	text-align: center;
	margin-bottom: 0;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
  padding: $padding-default 0;
  text-align: left;
	font-family: 'Montserrat';
	border: 1px solid lighten($grey, 40%);
  border-radius: 2px;
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	border: none;

	@media (max-width: 400px) {
		padding: $padding-default 0 0;
	}
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
}

.contact-form-input {
	display: block;
	margin-top: .33*$margin-default;
	width: 100%;
	min-height: 50px;
  font-size: 1em;
  line-height: 1.5em;
	font-family: 'Montserrat';
  text-indent: (.33 * $margin-default);
  line-height: 1.5;
  @include rounded(2px);

  &::-webkit-input-placeholder {
		color: darken($off-white, 5%);
	}

  &[type="text"], &[type="email"] {
		font-family: 'Montserrat', sans-serif;
		background-color: rgba(255, 255, 255, .3);
		border: .5px solid lighten($grey, 40%);
		box-shadow: inset 1px 1px 0 .5px rgba(0,0,0,.01);

		&:focus {
			outline: .5px solid $off-white;
		}
  }

  &[type="submit"] {
  	display: inline-block;
	  margin-top: $margin-small;
	   width: 50%;
	  font-family: 'Merriweather';
	  text-indent: 0;
	  @include buttoned;

	  &:disabled {
	  	color: $grey;
	  	background-color: $light-grey;
	  	box-shadow: none;
	  	border-color: darken($light-grey, 15%);

	  	&:hover {
	  		background-color: $light-grey;
	  		transition: none;
	  	}
	  }

	  @media (max-width: 400px) {
	  	width: 100%;
	  	// .435 is half of recaptcha transform scale for mobile (.87)
	  	margin-top: (.435 * $margin-small);
	  }
  }
}

.contact-form-textarea {
	display: block;
	align-self: stretch;
	flex-grow: 1;
	margin-top: (.33 * $margin-default);
  width: 100%;
  resize: none;
	min-height: 300px;
	margin-bottom: $margin-small;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
	padding: 10px;
	text-indent: 0;
	background-color: rgba(255, 255, 255, .3);
	border: .5px solid lighten($grey, 40%);
	box-shadow: inset 1px 1px 0 .5px rgba(0,0,0,.05);
	@include rounded(2px);
	
	&:focus {
		outline: .5px solid $off-white;
	}

	&:placeholder-shown {
		padding: 10px;
		text-indent: 0;
	}

	&::-webkit-input-placeholder {
		color: darken($off-white, 5%);
	}
}

.contact-form-label {
  display: inline-block;
  width: 100%;
  margin-top: $margin-small;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Merriweather';
  
  &:first-child {
		margin-top: 0;
  }

  &.textarea-label {
		display: flex;
		flex-direction: column;
		align-self: stretch;
		flex-grow: 1;
	}
}

.grecaptcha {

	display: block;

	@media (max-width: 400px) {
		               transform:scale(0.87);
		       -webkit-transform:scale(0.87);
		        transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}

// ABOUT SECTION

.about-body {
	max-width: $layout-width;
	margin: 0 auto;
	padding: 0 $padding-default;
}

.about-header-wrapper {
	width: 100%;
	text-align: center;
}

.about-header {
	margin-top: 0;
	margin-bottom: $margin-default;
	color: $dark-grey;

	@media(max-width: 400px) {
		margin-bottom: (.5 * $margin-small);
	}
}

.about-resume {
	font-style: normal;
	letter-spacing: 0;
}

.about-content {
	display: inline-flex;
	align-items: center;
	margin: 0 auto;

	@media (max-width: 1100px) {
		flex-direction: column;

		.about-hero-wrapper, .about-copy {
			flex-basis: 100%;
		}

		.about-hero {
			margin-right: 0;
			align-self: center;
		}

		.about-copy {
			margin-top: $margin-default;
		}
	}
}

.about-hero {
	margin-right: $margin-default;
	flex-grow: 1;
	@include rounded(2px);
	@include shadowed;

	@media (max-width: 600px) {
		max-width: 100%;
	}
}

.about-subsubheader {
	text-align: left;
	margin-bottom: 0;
	border-bottom: 0;
}

.about-subsubheader.second {
	box-sizing: border-box;
	margin-top: $margin-default;
}

.about-copy {
	flex-basis: 66%;
	flex-grow: 1;
	flex-shrink: 1;
}

.about-project-description {
	box-sizing: border-box;
	max-width: $max-text-width;
	margin: (.75 * $margin-small) 0;
	text-align: left;

	&:last-child {
		margin-bottom: 0;
	}
}

.software-perks {
	margin-left: (1.5 * $margin-small);

	li {
		text-indent: (.5 * $margin-small);
	}
}
