// _page-not-found.scss

header.page-not-found-page {
	position: static;
	top: 0;
	left: 0;
	transform: none;
	text-align: center;
}

.page-not-found-wrapper {
	margin: 0 $margin-default $margin-default;
	max-width: 100%;
	height: 100vh;
	text-align: center;
}

.page-not-found-img {
	max-width: 600px;
	width: 100%;
	margin: 0 auto $margin-default;
	@include rounded(2px);
	@include shadowed;
}

.page-not-found-header {
	max-width: 600px;
	margin: 0 auto $margin-default;
}

@media (max-width: 600px) {
	h2.page-not-found-header {
		font-size: 1.5em;
	}
}

.emphasize {
	border-bottom: 3px solid $yellow;
}

.strikethrough {
	text-decoration: line-through;
}

.page-not-found-subheader {
	border-width: 0;

	span {
		font-size: 1em;
		font-weight: 700;
	}
}
