// project.scss

.project-page {

	img {
			width: 100%;
			margin-top: $margin-default;
			margin-bottom: $margin-default;
			@include shadowed;
			@include rounded(2px);
		}

	.primary {

		img {
			margin-top: 0;
		}

		h2, p, h4 {
			margin: $margin-small auto;
			max-width: 800px;
			text-align: left;
			border-color: $grey;

			span {
				font-weight: 700;
				text-transform: uppercase;
			}

			@media (max-width: 860px) {
				margin: $margin-small $margin-default;
			}
		}
	}

	.secondary {
		// embedded codepen wrapper div
		.cp_embed_wrapper {
			margin: $margin-small 0;
		}
	}
}