// _thank-you.scss

.thank-you-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5px auto 0;

	@media (max-width: 350px) {
		margin: 0 $margin-small;
	}
}

.thank-you {
	padding: $padding-default;
	@include rounded(2px);
	border: 1px solid $blue;
}

.thank-you-header {
		padding-bottom: 5px;
		margin-bottom: $margin-small;
		border-bottom: 2px solid $yellow;
}

.thank-you-subsubheader {
	border: 0;

	span {
		font-size: 1em;
		font-weight: 700;
	}
}

.thank-you-paragraph {
	margin-bottom: (.5 * $margin-default);
}
