// _thank-you.scss

header.thank-you-page {
	position: static;
	top: 0;
	left: 0;
	transform: none;
	text-align: center;
}

.thank-you-page {

	.thank-you-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 5px auto 0;

		.thank-you {
			box-sizing: border-box;
			padding: $padding-default;
			@include rounded(2px);
			border: 1px solid $blue;

			h2 {
				padding-bottom: 5px;
				margin-bottom: $margin-small;
				border-bottom: 2px solid $yellow;
			}

			h3 br {
				display: none;
			}

			h4 {
				border: 0;

				span {
					font-size: 1em;
					font-weight: 700;
				}
			}

			p {
				margin-bottom: 0.5*$margin-default;
			}
		}

		@media (max-width: 350px) {
			margin: 0 $margin-small;

			.thank-you h3 br {
				display: inline;
			}
		}
	}
}