// _global.scss

// ------------ CONSTANTS -------------

// COLORS
//Made $off-white rgb for background overlay on <body>
$off-white: rgb(251, 252, 237);
$blue: rgb(41,128,185);
$yellow: rgb(241,196,15);
$dark-grey: rgb(84,84,84);
$grey: rgb(109,109,109);
$light-grey: lighten($grey, 40%);

// FONTS
$font-main: 'Montserrat', sans-serif;
$letter-spacing: 1px;

// MARGIN & PADDING
$margin-default: 30px;
$margin-small: 20px;
$padding-default: 30px;
$padding-small: 20px;

// %placeholder example
%no-underline {
	text-decoration: none;
}

// ------------ BOILERPLATE OVERRIDES -------------

body {
	margin: 0;
	font: {
		family: $font-main;
		size: 1.1em;
	}
	// color overlay applied to background pattern
	background:
		/* top, transparent $off-white, faked with gradient */ 
		linear-gradient(
			rgba(251, 252, 237, 0.4), 
			rgba(251, 252, 237, 0.4)
			),
		/* bottom, image */
		url("../images/pw_maze_white.png");
	color: $grey;
	background-attachment: fixed;
	line-height: 1.6;

	.page-wrap {
		margin: 0 auto;
	}

		// ------------ Y-OFFSET <main>  WITH PADDING-TOP FOR FIXED HEADER HEIGHT -------------
		$header-padding-top: 30px;
		$header-padding-bottom: 2*$header-padding-top;
		$header-padding-400px: $padding-small;
		$content-height: 45px;
		$header-height: $header-padding-top + $header-padding-bottom + $content-height;

		header {
			padding-top: $header-padding-top;
			padding-bottom: $header-padding-bottom;
		}

		main {
			padding-top: $header-height;
		}
		
		@media (max-width: 1260px) {
			$header-padding-bottom: 2*$padding-small;
			$content-height: 45px;
			$header-height: $header-padding-top + $header-padding-bottom + $content-height;
			header {
				padding-bottom: $header-padding-bottom;
			}
			main {
				padding-top: $header-height;
			}
		}

		@media (max-width: 620px) {
			$header-padding-top: $padding-small;
			$header-padding-bottom: $padding-small;
			$content-height: 76px;
			$header-height: $header-padding-top + $header-padding-bottom + $content-height;

			header {
				padding-top: $header-padding-top;
				padding-bottom: $header-padding-bottom;
			}

			main {
				padding-top: $header-height;
			}

			footer {
				margin: $margin-small !important;
			}


		}

		@media (max-width: 400px) {
			$content-height: 70px;
			$header-height: $header-padding-top + $header-padding-bottom + $content-height;
			header {
				padding: $padding-small;
			}

			main {
				padding-top: $header-height;
			}
		}

	//Override boilerplate styles
	img {
		box-sizing: border-box;
	}

	a {
		display: inline-block;
		color: $grey;
		svg {
			display: block;
		}

		&:visited {
			color: $grey;
		}
	}

	ul {
		padding-left: $padding-small;
	}
}

// ------------ TYPOGRAPHY -------------

h2 {
		font: {
			size: 2.25em;
			weight: 400;
		}
		letter-spacing: $letter-spacing;
		margin-bottom: 0;
		line-height: 1.25;
	}

	h3 {
	  font: {
	  	size: 1.125em;
	  	weight: 400;
	  	style: italic;
	  	family: 'Merriweather', serif;
	  }
	  line-height: 1.25;
	  letter-spacing: $letter-spacing;
	  margin-bottom: $margin-default;
	}

	h4 {
		font: {
			size: 0.875em;
			weight: 400;
			family: 'Montserrat', sans-serif;
		}
		letter-spacing: 1.5*$letter-spacing;
		margin-bottom: $margin-default;
		text-transform: uppercase;
		border-bottom: 1px solid $off-white;
	}

	p {
		font: {
			size: 1em;
			weight: 300;
			family: 'Merriweather';
		}
		color: $dark-grey;
		line-height: 1.6;
	}

	.secondary p {
		color: $off-white;
	}

	@media (max-width: 800px) {
		h1 {
			font-size: 2.25em !important;
		}

		h2 {
			font-size: 1.875em;
		}

		h3 {
			font-size: 1em;
		}

		h4, p {
			font-size: 0.9em;
		}
	}