// footer.scss

footer {
	margin-bottom: (2 * $margin-default);
	text-align: center;

	@media (max-width: 620px) {
		margin-bottom: (2 * $margin-small);
	}
}

.footer-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: $margin-default;
	@media (max-width: 400px) {
		justify-content: space-between;
		ms-justify-content: space-between;
	}
}

.footer-link {
	height: 100%;
	margin: 0 $margin-small;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	svg {
		width: 40px;
		padding: 3px;
		max-height: 40px;
		fill: $off-white;
		background-color: $yellow;
		@include rounded(2px);
		transform: none;
		transition: transform .25s linear;

		@media (max-width: 400px) {
			width: 30px;
			max-height: 30px;
		}
	}

	&:hover svg {
		transform: scale(1.3);
		transition: transform .25s linear;
	}

	@media (max-width: 400px) {
		margin: 0;

		&:first-child {
			margin-left: $margin-small;
		}

		&:last-child {
			margin-right: $margin-small;
		}
	}
}

.footer-copyright {
	margin: 0;
}

// These pages have a .secondary <section>
footer.to-do-list-page,
footer.price-tracker-page,
footer.ferrofluid-pool-page,
footer.twist-page,
footer.lightbeam-page,
footer.more-info-page,
footer.extension-storage-page {
	@include diagonal-background-bottom;
}


// These pages do NOT have or are not directly next to a .secondary <section>
footer.thank-you-page,
footer.home-page {
	margin-top: (2 * $margin-default);
	text-align: center;
}
