// header.scss

header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	width: 100vw;
	background:
	/* top, transparent $off-white, faked with gradient */ 
	linear-gradient(
		rgba(251, 252, 237, .4), 
		rgba(251, 252, 237, .4)
		),
	/* bottom, image */
	url("../images/pw_maze_white.png");
	transition: padding-top .25s linear, padding-bottom .25s linear;
	@include dropdown-menu;

	@media (max-width: 1260px) {
		padding-left: $padding-default;
		padding-right: $padding-default;
	}
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 0 auto;
	max-width: $layout-width;
	width: 100%;

	@media (max-width: 620px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.header-brand-wrapper {
			justify-content: center;
			align-items: flex-end;
			
			.header-logo {
				margin-bottom: 20px;
				width: 40px;
			}

			.header-name {
				line-height: 1em;
			}
		}
	}
}

.header-brand-wrapper {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
}


.header-logo {
	width: 50px;
	transition: width .25s linear;

	tspan {
		fill: $blue;
	}

	path {
		stroke: $blue;
	}
}

.header-name {
	display: inline-block;
	margin: 0;
	margin-left: $margin-small;
	text-transform: none;
	color: $dark-grey;
	letter-spacing: $letter-spacing;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Merriweather', serif;
	transition: font-size .25s linear;

	@media (max-width: 850px) {
		display: none;
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	margin: 0;
	font: {
		weight: bold;
	}
	line-height: 1em;
	text: {
		align: center;
		transform: uppercase;
	}
	color: $grey;

	@media (max-width: 400px) {
		font-size: .875em;
	}
}

.menu-item {
	padding-bottom: 5px;
	margin: 0 1em;
	border-bottom: 3px transparent solid;
	
	&:first-child {	
			margin-left: 0;
			transition: padding-bottom .25s linear;
		}

	&:last-child {
		margin-right: 0;
	}
}

.menu-link {
	@extend %no-underline;
	color: $grey;
	letter-spacing: $letter-spacing;
	transition: letter-spacing .5s;

	&:visited {
		color: $grey;
	}

	&:hover {
		letter-spacing: 5px;
		transition: letter-spacing .5s;

		@media (max-width: 500px) {
			letter-spacing: $letter-spacing;
			transition: none;
		}
	}

	/*
	* Reserves space for letter-spacing
	* content in ::after pseudo element
	* and uses title attribute in HTML
	* as a source for content.
	*/
	&::after {
		display: block;
		content: attr(aria-label);
		height: 0;
		letter-spacing: 5px;
		color: transparent;
		overflow: hidden;
		visibility: hidden;

		@media(max-width: 500px) {
			display: none;
		}
	}
}

/*******************************************
******* <nav> Active Page Indicator ********
*******************************************/
//Only the Home and More Info pages have indicators.

header.home-page {
	
	.menu-item:first-child {
		border-color: $yellow;
		transition: padding-bottom .25s linear;
	}
}

header.more-info-page {
	
	.menu-item:first-child {
		border-color: transparent;
	}

	.menu-item:last-child {
		border-color: $yellow;
		transition: padding-bottom .25s linear;
	}
}

/*
* These pages have no active page indicator;
* they are sub-pages of the Work <nav> link
*/
header.thank-you-page,
header.to-do-list-page,
header.e-mail-sign-up-page,
header.ferrofluid-pool-page,
header.twist-page {
	
	.menu-item:first-child,
	.menu-item:last-child {
		border-color: transparent;
	}
}

/*******************************************
* Minimized Fixed Header Styles on Scroll **
*******************************************/

header.minimize {
	@include shadowed;
	max-width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: padding-top .25s linear,
							padding-bottom .25s linear;

	.header-name {
		font-size: 1.25em;
		transition: font-size .25s linear;
	}

	.header-logo {
		width: 30px;
		transition: width .25s linear;
	}

	@media (max-width: 500px) {
		padding-bottom: 10px;
	}
}
