// header.scss

header.minimize {
	@include shadowed;
	max-width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: padding-top 0.25s linear, padding-bottom 0.25s linear;

	h1 {
		font-size: 1.25em;
		transition: font-size 0.25s linear;
	}

	svg {
		width: 30px;
		transition: width 0.25s linear;
	}

	@media (max-width: 500px) {
		padding-bottom: 10px;
	}
}

header {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	width: 100vw;
	padding-top: $margin-default;
	padding-bottom: 2*$margin-default;
	background:
	/* top, transparent $off-white, faked with gradient */ 
	linear-gradient(
		rgba(251, 252, 237, 0.4), 
		rgba(251, 252, 237, 0.4)
		),
	/* bottom, image */
	url("../images/pw_maze_white.png");
	transition: padding-top 0.25s linear, padding-bottom 0.25s linear;

	@media (max-width: 1260px) {
		padding-bottom: 2*$margin-small;
	}

	@media (max-width:400px) {
		padding: $padding-small;
	}

	div {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		max-width: 1200px;
		width: 100%;

		svg {
			width: 50px;
			transition: width 0.25s linear;
		}

		@media (max-width: 620px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			span:first-child {
				margin-bottom: 20px;
			}

			span {
				justify-content: center;
				align-items: flex-end;
				h1 {
					line-height: 1em;
				}
			}

			ul {
				margin-top: $margin-small;
			}
			svg {
				width: 40px;
			}
		}
	}

	tspan {
		fill: $blue;
	}
	
	path {
		stroke: $blue;
	}
	
	span {
		display: flex;
		align-items: baseline;
		justify-content: flex-start;

		h1 {
			margin: 0;
			margin-left: $margin-small;
			display: inline-block;
			color: $dark-grey;
			letter-spacing: $letter-spacing;
			font-size: 1.5em;
			font-weight: bold;
			font-family: 'Merriweather', serif;
			transition: font-size 0.25s linear;

			@media (max-width: 850px) {
				display: none;
			}
		}
	}

	@media (max-width: 1260px) {
		padding-left: $padding-default;
		padding-right: $padding-default;
	}

	nav {
		@media (max-width: 400px) {
			font-size: 0.875em;
			}
	}

	nav > .menu {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding-left: 0;
		margin: 0;
		font: {
			weight: bold;
		}
		line-height: 1em;
		text: {
			align: center;
			transform: uppercase;
		}
		color: $grey;

		@media (max-width: 500px) {
			font-size: .9em;
			//overflow-x: hidden;
		}

		> li {
			padding-bottom: 5px;
			margin: 0 1em;
			border-bottom: 3px transparent solid;
			
			&:first-child {	
					//border-color: $yellow;
					margin-left: 0;
					transition: padding-bottom 0.25s linear;
				}

			&:last-child {
				margin-right: 0;
			}

			> a {
				@extend %no-underline;
				color: $grey;
				letter-spacing: $letter-spacing;
				transition: letter-spacing .5s;

				&:hover {
					letter-spacing: 5px;
					transition: letter-spacing .5s;

					@media (max-width: 500px) {
						letter-spacing: $letter-spacing;
						transition: none;
					}
				}

				/* Reserve space for letter-spacing (or any :hover state styles)
				* content in ::after pseudo element and using title attribute
				* in HTML as a source for content.
				*/
				&::after {
					display: block;
					content: attr(aria-label);
					letter-spacing: 5px;
					height: 0;
					color: transparent;
					overflow: hidden;
					visibility: hidden;

					@media(max-width: 500px) {
						display: none;
					}
				}
			}
		}
	}

	@include dropdown-menu;
}

/*******************************************
******* <nav> Active Page Indicator ********
*******************************************/

header.home-page {
	ul.menu > li {
		&:nth-child(1) {
			border-color: $yellow;
			transition: padding-bottom 0.25s linear;
		}
	}
}

header.more-info-page {
	ul.menu > li {
		&:first-child {
			border-color: transparent;
		}

		&:nth-child(3) {
			border-color: $yellow;
			transition: padding-bottom 0.25s linear;
		}
	}
}

header.to-do-list-page, header.e-mail-sign-up-page, header.ferrofluid-pool-page, header.twist-page {
	ul.menu > li {
		&:first-child {
			border-color: transparent;
		}
	}
}