// secondary-section.scss

// bottom page <section>
.secondary {
	padding: $padding-default $padding-default 0;
	background-color: $blue;
	color: $off-white;

	h1 { padding-bottom: 1.5*$padding-default; }

	h4 { border-bottom-color: $off-white; }
}