// secondary-section.scss

// bottom page <section>
.secondary {
	padding: $padding-default $padding-default 2*$padding-default;
	color: $off-white;
	background-color: $blue;

	h1 { padding-bottom: (1.5 * $padding-default); }

	h4 { border-bottom-color: $off-white; }
}