// section-title.scss

//<h1> styles with defaults
@mixin section-title($color: $dark-grey) {
	margin: 0;
	font: {
		size: 3.25em;
		weight: 400;
	}
	line-height: 1.25;
	text: {
		align: center;
		transform: uppercase;
	}
	letter-spacing: $letter-spacing;
	// color could alternately be $off-white or
	// $dark-grey depending on section
	// background color
	color: $color;
}